In [200]:
import pandas as pd
import numpy as np

In [209]:
df1 = pd.read_excel('test/model1.xlsx', header=None)
df2 = pd.read_excel('test/model2.xlsx', header=None)

In [210]:
df1.iloc[0, 0] = 'model'
df2.iloc[0, 0] = 'model'

In [211]:
df1.columns = df1.iloc[0]
df2.columns = df2.iloc[0]
df1 = df1[1:]
df2 = df2[1:]

In [212]:
df1

0 model Alicia 1013 Alicia 1013
1   AAA           1           7
2   BBB           2           8
3   CCC           3           9
4   DDD           4          10
5   EEE           5          11
6   FFF           6          12

In [213]:
df2

0 model Alicia 1013A Alicia 1013A
1   AAA            1            7
2   NaN            2            8
3   BBB            3            9
4   NaN            4           10
5   GGG            5           11
6   HHH            6           12

In [214]:
df2['model_filled'] = df2['model'].fillna(method='ffill')

# 番号付きサフィックスを追加
counter = {}
result = []
for original, filled in zip(df2['model'], df2['model_filled']):
    if pd.isna(original):  # 元が欠損値であればサフィックス追加
        counter[filled] = counter.get(filled, 0) + 1
        result.append(f"{filled}{counter[filled]}")
    else:
        result.append(filled)

df2['model_with_suffix'] = result

# model 列を更新し、作成した列を削除
df2['model'] = df2['model_with_suffix']
df2.drop(columns=['model_filled', 'model_with_suffix'], inplace=True)

/var/folders/gx/lc33vdvs5dj0sf9x1njqzryr0000gn/T/ipykernel_20028/3016495456.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2['model_filled'] = df2['model'].fillna(method='ffill')

In [215]:
df1 = df1.set_index(df1.columns[0])
df2 = df2.set_index(df2.columns[0])

In [216]:
df_merge = pd.concat([df2,df1],axis=1)

In [217]:
df_merge

0     Alicia 1013A Alicia 1013A Alicia 1013 Alicia 1013
model
AAA              1            7           1           7
AAA1             2            8         NaN         NaN
BBB              3            9           2           8
BBB1             4           10         NaN         NaN
GGG              5           11         NaN         NaN
HHH              6           12         NaN         NaN
CCC            NaN          NaN           3           9
DDD            NaN          NaN           4          10
EEE            NaN          NaN           5          11
FFF            NaN          NaN           6          12

In [219]:
df_merge = df_merge.T

In [220]:
df_merge

0     Alicia 1013A Alicia 1013A Alicia 1013 Alicia 1013
model
AAA              1            7           1           7
AAA1             2            8         NaN         NaN
BBB              3            9           2           8
BBB1             4           10         NaN         NaN
GGG              5           11         NaN         NaN
HHH              6           12         NaN         NaN
CCC            NaN          NaN           3           9
DDD            NaN          NaN           4          10
EEE            NaN          NaN           5          11
FFF            NaN          NaN           6          12

In [222]:
df_merge.to_csv("出力ファイル名.csv",  encoding="utf-8")

In [225]:
# 結合する
import pandas as pd
import os

# フォルダ内のCSVファイルを処理する関数
def process_csv_files(folder_path):
    df_list = []  # データフレームを保存するリスト

    # フォルダ内のすべてのCSVファイルを取得
    for file_name in os.listdir(folder_path):
        if file_name.endswith('.xlsx'):
            file_path = os.path.join(folder_path, file_name)
            
            # CSVを読み込んで処理
            df = pd.read_excel(file_path, header=None ,index_col=0)
            
            df.index = df.index.fillna("model")
            df_list.append(df)
    
    # 全てのデータフレームを連結
    df_merge = pd.concat(df_list,axis=1)
    return df_merge

# フォルダのパスを指定して関数を実行
folder_path = 'test'  # フォルダのパスを入力
result_df = process_csv_files(folder_path)
result_df = result_df.T

# 結果を確認
result_df.to_csv("出力ファイル名.csv", index=False, encoding="utf-8")

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [226]:
# 穴埋めして結合する
import pandas as pd
import os

# フォルダ内のCSVファイルを処理する関数
def process_csv_files(folder_path):
    df_list = []  # データフレームを保存するリスト

    # フォルダ内のすべてのCSVファイルを取得
    for file_name in os.listdir(folder_path):
        if file_name.endswith('.xlsx'):
            file_path = os.path.join(folder_path, file_name)
            
            # CSVを読み込んで処理
            df = pd.read_excel(file_path, header=None)
            df.iloc[0, 0] = 'model'
            df.columns = df.iloc[0]
            df = df[1:] 
            df['model_filled'] = df['model'].fillna(method='ffill')

            # 番号付きサフィックスを追加
            counter = {}
            result = []
            for original, filled in zip(df['model'], df['model_filled']):
                if pd.isna(original):  # 元が欠損値であればサフィックス追加
                    counter[filled] = counter.get(filled, 0) + 1
                    result.append(f"{filled}{counter[filled]}")
                else:
                    result.append(filled)

            df['model_with_suffix'] = result

            # model 列を更新し、作成した列を削除
            df['model'] = df['model_with_suffix']
            df.drop(columns=['model_filled', 'model_with_suffix'], inplace=True)
            df = df.set_index(df.columns[0])
            df_list.append(df)
    
    # 全てのデータフレームを連結
    df_merge = pd.concat(df_list,axis=1)
    return df_merge

# フォルダのパスを指定して関数を実行
folder_path = 'test'  # フォルダのパスを入力
result_df = process_csv_files(folder_path)
result_df = result_df.T

# 結果を確認
result_df.to_csv("出力ファイル名.csv", encoding="utf-8")

/var/folders/gx/lc33vdvs5dj0sf9x1njqzryr0000gn/T/ipykernel_20028/1527587885.py:19: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['model_filled'] = df['model'].fillna(method='ffill')
/var/folders/gx/lc33vdvs5dj0sf9x1njqzryr0000gn/T/ipykernel_20028/1527587885.py:19: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['model_filled'] = df['model'].fillna(method='ffill')

In [175]:
from openpyxl import load_workbook
import os

def extract_images_from_excel_files(folder_path, sheet_name, output_folder):
    # 指定フォルダからすべてのExcelファイルを取得
    excel_files = [f for f in os.listdir(folder_path) if f.endswith('.xlsx')]

    for excel_file in excel_files:
        file_path = os.path.join(folder_path, excel_file)
        print(f"処理中: {file_path}")
        
        # Excelファイルを読み込む
        wb = load_workbook(file_path, data_only=True)
        
        # シートが存在するか確認
        if sheet_name not in wb.sheetnames:
            print(f"シート '{sheet_name}' はファイル '{excel_file}' に存在しません。")
            continue

        sheet = wb[sheet_name]

        # 出力フォルダを作成
        if not os.path.exists(output_folder):
            os.makedirs(output_folder)

        # 画像を抽出
        if hasattr(sheet, '_images') and sheet._images:
            for image in sheet._images:
                image_name = image.ref  # セル参照名をファイル名に使用
                output_file = os.path.join(output_folder, f"{excel_file}_{image_name}.png")
                
                # 画像保存
                with open(output_file, "wb") as img_file:
                    img_file.write(image.image)
                print(f"画像保存: {output_file}")
        else:
            print(f"シート '{sheet_name}' に画像がありません。")
    
# 実行部分
input_folder = "test"  # フォルダパス
sheet_name = "Sheet1"  # 処理するシート名
output_folder = "images_output"  # 保存フォルダ
extract_images_from_excel_files(input_folder, sheet_name, output_folder)

処理中: test/model1.xlsx
シート 'Sheet1' はファイル 'model1.xlsx' に存在しません。